<div class="product-view">
  <div class="group">
    <label>Product Id</label>
    <p>{{ product.productId }}</p>
  </div>
  <div class="group">
    <label>Product Name</label>
    <p>{{ product.productName }}</p>
  </div>
  <div class="group">
    <label>Product Type</label>
    <p>{{ product.productType }}</p>
  </div>
  <div class="group">
    <label>Product Price</label>
    <p>{{ product.price }}</p>
  </div>
  <button class="button secondary-button" (click)="onBack($event)">Back / Cancel</button>
</div>
